#players {
    margin-top: 1rem;
    
    display: flex;
    justify-content: space-around;
}

.player {
    background-color: lightblue;
    text-align: center;
    border: 1px solid black;
    width: 30%;
    padding: 20px;
}

.player .name {
font-weight: 800;
}

.player .score{

    font-size: 2.2rem;
}
